{
  "parser": "@typescript-eslint/parser",
  "plugins": ["chakra-ui", "@nx"],
  "parserOptions": {
    "project": true,
    "tsconfigRootDir": "__dirname"
  },
  "extends": ["next/core-web-vitals", "plugin:storybook/recommended"],
  "rules": {
    "@nx/enforce-module-boundaries": [
      "error",
      {
        "depConstraints": [
          {
            "sourceTag": "scope:shared",
            "onlyDependOnLibsWithTags": ["scope:shared"]
          }
        ]
      }
    ],
    "storybook/no-uninstalled-addons": [
      "error",
      {
        "packageJsonLocation": "/package.json"
      }
    ]
  }
}
